
basicAge.py
classCreation.py
currencyConverter(hryvnia).py
currencyConverter.py
evenORodd.py
exponant.py
factorial.py
freecodecamp&calendardays.txt
freecodecamp&calendardays_2.txt
lister_function.py
multiplicationTableEnterInput.py
multiplicationTableSleep.py
OpenFileScript.py
time-sleep.py
TkinterIntro.py
WritingToFileScript.py
wrongPassword.py